<!-- App Title -->
<mat-toolbar id="nav-top" color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon id="drawerStatus">{{ sidenav.opened? 'close' : 'menu' }}</mat-icon>
    </button>
    <h1 class="page-title">{{ appTitle }}</h1>      
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>

  <!-- Drawer -->
  <mat-drawer #sidenav (click)="sidenav.toggle()" id="sidenav" color="accent" mode="side" class="mat-elevation-z6">
    <mat-nav-list>
      <mat-list-item routerLink="/" disableRipple="true" class="brand">
        <img src="assets/img/placeholder.jpg" alt="Site logo">
      </mat-list-item>
      <mat-list-item *ngFor="let link of links" routerLink="{{ link.path }}" [ngClass]="{'link-active': ( active$ | async ) === link.path }">
        <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
        <a mat-line>{{ link.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content>
    <mat-toolbar class="page-title mat-elevation-z4" matRipple [matRippleDisabled]="true">
      <h2>{{ pageTitle }}</h2>
    </mat-toolbar>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
