<div id="about" appContentContainer>
  <mat-card>
    <mat-card-header>
      <mat-card-title>William Moore</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Summary</h3>
      <p>Results-driven full-stack software developer with 5+ years of software development experience. Experienced in
        all phases of development from analysis to delivery. Multi-faceted hands on experience across multiple platforms
        and tools.</p>
    </mat-card-content>
  </mat-card>
</div>